.card-img-top {
    height: 250px;
    object-fit: cover;
}
.pagination {
    justify-content: center;
}

.page-item.active .page-link {
    background-color: rgb(35, 185, 105);
    border-color:  rgb(35, 185, 105);
}

.page-link {
    color: green;
}

.page-link:hover {
    color: #005700;
}

.page-item.disabled .page-link {
    color: #a1a1a1;
}